<header class="navbar">
  <div class="logo">
   <img src="/logo.jpg" alt="MONEY MAKING PROJECT" height="28" />
    <span class="logo-text">MONEY MAKING PROJECT</span>
  </div>

  <div class="hamburger" onclick="toggleMenu()">☰</div>

  <nav class="nav-links" id="navLinks">
    <a href="index.html">Home</a>
    <a href="store.html">Store</a>
    <a href="edukasi.html">Edukasi</a>
    <a href="dashboard.html">Dashboard</a>
    <a href="login.html">Login</a>
    <a href="2fa.html">2FA Checker</a>
  </nav>
</header>
